@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

.initials {
  /* font-family: "Great Vibes", cursive; */
  font-family: "Open Sans Condensed", sans-serif;
  color: black;
  /* font-style: italic; */
  margin-left: 30px;
}

.navbar-nav {
  font-family: "Open Sans Condensed", sans-serif;
}
